$white: white;

$gray-100: #d8d8d8;

$dark-700: #353535;
$dark-750: #2a2a2a;
$dark-800: #1d1d1d;

$orange-450: #fa916b;
$orange-500: #ff7f50;

$yellow-500: #ffc941;

$pink-hover: rgba(245, 178, 178, .7);

$text-dark: #212529;