* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'partials/colors';
@import 'partials/typography';
@import 'abstracts/mixins';
@import 'components/buttons';
@import 'components/product-card';
@import 'layout/header';
@import 'layout/heading';
@import 'pages/home';

ul {
  list-style: none;
}

